/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.enemy {
  fill: blue;
  stroke: teal;
  stroke-width: 5;
}
.hero {
  fill: pink;
  stroke: tomato;
  stroke-width: 2;
}
.board {
  background-color: #1a1a1a;
}
